.icon {
    position: relative;
    color: var(--foreground);

    padding: 0;
    margin: var(--space-xs);
}

.icon:disabled {
    color: var(--disabled);
}

.iconHover::after {
    content: "";
    position: absolute;

    width: 0;
    height: 0;

    top: 50%;
    left: 50%;

    border-radius: 50%;

    background-color: var(--transparent-border-color-light);

    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
    .iconHover:hover::after {
        width: 150%;
        height: 150%;

        transform: translate(-50%, -50%) scale(1);
    }
}
