:root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #f89c0b;
    --primary-light: #f8c206;
    --primary-dark: #b37209;

    --primary-gradient: linear-gradient(45deg, var(--primary), var(--primary-light), var(--primary));

    --transparent-background-color: rgba(15, 15, 15, 0.4);
    --transparent-background-hover-color: rgba(30, 30, 30, 0.6);
    --transparent-background-color-light: rgba(200, 200, 200, 0.2);
    --transparent-border-color: rgba(30, 30, 30, 1);
    --transparent-border-color-light: rgba(180, 180, 180, 0.2);
    --transparent-backdrop-filter: blur(8px);
}
