:root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #f89c0b;
    --primary-light: #f8c206;
    --primary-dark: #b37209;

    --primary-gradient: linear-gradient(45deg, var(--primary), var(--primary-light), var(--primary));
}
