.groups {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.groupHeader {
    display: flex;
}

.player {
    display: flex;
    flex-direction: column;
}

.player li {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.playerAndPosition {
    display: flex;
    gap: 10px;
}
